.intro-parent {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 99999;

  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.top-left {
  position: absolute;
  left: 3%;
  top: 2%;
  right: auto;
  bottom: auto;
}

.heading {
  font-family: 'Spline Sans Mono';
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

.top-right {
  position: absolute;
  top: 4%;
  right: 3%;
}

.stamp {
  position: absolute;
  left: 68%;
  top: 100px;
}

@media screen and (max-width: 479px) {
  .stamp {
    top: 150px;
  }
}

.logo-parent {
  position: absolute;
  display: flex;
  align-items: center;
}

.logo-parent.push {
  position: relative;
  margin-top: 95px;
}

@media screen and (max-width: 767px) {
  .logo-parent.push {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  .logo-parent.push {
    top: 27%;
  }
}

.div-hide {
  position: relative;
  overflow: hidden;
}

.main-header {
  font-family: 'Spline Sans Mono';
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 120px;
  line-height: 100px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .main-header {
    font-size: 90px;
    line-height: 50px;
  }
}

@media screen and (max-width: 479px) {
  .main-header {
    font-size: 50px;
  }
}

.description-box {
  position: relative;
  display: flex;
}

@media screen and (max-width: 479px) {
  .description-box {
    top: 300px;
    padding-left: 10px;
  }
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  margin-top: 15px;
  padding-right: 10px;
}

.title {
  display: block;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  line-height: 0px;
}

.h4-green {
  font-family: 'Spline Sans Mono';
  color: var(--green);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .h4-green {
    font-size: 20px;
  }
}

.sub-title {
  font-family: 'Spline Sans Mono';
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.btn-parent {
  position: relative;

  display: flex;
  overflow: hidden;
  padding: 1.2em 2em 1em;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  transition: background-color 400ms ease;

  cursor: pointer;
}

.btn-parent.ab-btm {
  position: absolute;
  bottom: 4em;
}

@media screen and (max-width: 767px) {
  .btn-parent.ab-btm {
    bottom: 100px;
  }
}

@media screen and (max-width: 479px) {
  .btn-parent.ab-btm {
    bottom: 150px;
  }
}

.btn-parent.ab-btm.bg-yellow {
  position: absolute;
  bottom: 4em;

  width: 100%;
  height: 70px;

  border-radius: 0px;

  background-color: hsla(79.30434782608695, 93.50%, 48.24%, 1.00);

  color: hsla(0, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 479px) {
  .btn-parent.ab-btm.bg-yellow {
    height: 60px;
  }
}

.btn-txt-sm {
  position: relative;
  z-index: 1;

  font-family: 'Spline Sans Mono';
  color: var(--bg-blue);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .btn-txt-sm {
    font-size: 20px;
  }
}

.btn-txt-sm-ap {
  position: absolute;
  z-index: 1;

  display: block;

  font-family: 'Spline Sans Mono';
  color: var(--bg-blue);
  font-size: 30px;
  line-height: 30px;
}

@media screen and (max-width: 479px) {
  .btn-txt-sm-ap {
    font-size: 20px;
  }
}

.card-whipe {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;

  width: 100%;
  height: 100%;
}